services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-appdb}
      POSTGRES_USER: ${POSTGRES_USER:-appuser}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-apppass}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-appuser} -d ${POSTGRES_DB:-appdb}"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - app_net

  redis:
    image: redis:7
    ports:
      - "${REDIS_PORT:-6379}:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - app_net

  api:
    build: .
    ports:
      - "${API_PORT:-8000}:8000"
    env_file:
      - .env
    environment:
      DATABASE_URL: "postgresql://${POSTGRES_USER:-appuser}:${POSTGRES_PASSWORD:-apppass}@postgres:5432/${POSTGRES_DB:-appdb}"
      REDIS_URL: "redis://redis:6379/0"
      LANG: fa_IR.UTF-8
      LANGUAGE: fa_IR:fa
      LC_ALL: fa_IR.UTF-8
    volumes:
      - ./app:/app/app
      - ./outputs:/app/outputs
      - "${HOST_PIPER_VOICES_DIR}:${PIPER_VOICE_PATH}:ro"
      - "${HOST_AUDIO_DIR}:${AUDIO_BASE_DIR}:ro"
      # volume pip cache برای نصب سریع کتابخانه‌ها
      - pip_cache:/root/.cache/pip
      - ./libs/all-MiniLM-L6-v2:/root/.cache/chroma/onnx_models/all-MiniLM-L6-v2
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    networks:
      - app_net

  app:
    build: .
    depends_on:
      redis:
        condition: service_healthy
    env_file:
      - .env
    environment:
      REDIS_URL: "redis://redis:6379/0"
    networks:
      - app_net

  worker_default:
    build: .
    command: rq worker default
    depends_on:
      redis:
        condition: service_healthy
    env_file:
      - .env
    environment:
      REDIS_URL: "redis://redis:6379/0"
    volumes:
      - ./app:/app/app
    networks:
      - app_net

  worker_low:
    build: .
    command: rq worker low
    depends_on:
      redis:
        condition: service_healthy
    env_file:
      - .env
    environment:
      REDIS_URL: "redis://redis:6379/0"
    volumes:
      - ./app:/app/app
    networks:
      - app_net

volumes:
  postgres_data:
    name: "${COMPOSE_PROJECT_NAME:-myapp}_postgres_data"
  pip_cache:
    name: "${COMPOSE_PROJECT_NAME:-myapp}_pip_cache"

networks:
  app_net:
    name: "${COMPOSE_PROJECT_NAME:-myapp}_net"
