<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تاریخچه مکالمات</title>
    <link rel="stylesheet" href="/css/table.css">


</head>
<body>

    <div class="container">
        <h1>تاریخچه مکالمات</h1>

        <table>
            <thead>
                <tr>
                    <th>شناسه</th>
                    <th>کاربر</th>
                    <th>پیام</th>
                    <th>پردازش</th>
                    <th>پاسخ</th>
                    <th>نوع پاسخ</th>
                    <th>مدت زمان اجرا</th>
                    <th>تاریخ ایجاد</th>
                    <th>تاریخ ویرایش</th>
                </tr>
            </thead>
            <tbody>
                {% for items in data %}
                    <tr>
                        <td>{{ items["id"] }}</td>
                        <td>{{ items["user_id"] }}</td>
                        <td><span tooltip title="{{items['message']}}">{{ items["message"] |shorten_string(1000) }}</span></td>
                        <td><span tooltip title="{{items['processed_message']}}">{{ items["processed_message"] |shorten_string(1000) }}</span></td>
                        <td><span tooltip title="{{items['response']}}">{{ items["response"] |shorten_string(1000) }}</span></td>
                        <td>{{ items["response_type"] }}</td>
                        <td>{{ items["duration"] }}</td>
                        <td>{{ items["created_at"] | gregorian_to_jalali("l j F Y H:i:s") }}</td>
                        <td>{{ items["updated_at"] | gregorian_to_jalali("l j F Y H:i:s") }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>

        <div class="pagination">
            {% if page > 1 %}
                <a href="/db/message_history?page={{ page - 1 }}">قبلی</a>
            {% endif %}

            <span>صفحه {{ page }}</span>

            <a href="/db/message_history?page={{ page + 1 }}">بعدی</a>
        </div>
    </div>

</body>
</html>
