on:
  push:
    branches:
      - dev
jobs:
  build:
    name: Trigger Site Rebuild
    runs-on: ubuntu-latest
    steps:
      - name: cURL request
        run: curl  https://python.afraitn.net/dev/develop.php
